* {
    font-family: poppins, sans-serif;
}

body {
    background-color: blueviolet;
}

#head {
    text-align: center;
}

.calendar {
    width: max-content;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(107, 199, 199);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.current-date {
    font-size: 20px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: max-content;
    margin: auto;
}

th, td {
    width: 40px;
    height: 40px;
    text-align: center;
}

.week {
    background-color: rgb(255, 255, 255);
}

.today {
    background-color: green;
    color: white;
    border-radius: 50%;
}

.inactive {
    color: rgba(0, 0, 0, 0.4)
}




/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
}

.modal-close {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

